@charset "utf-8";

/*---------GRID---------*/
main{
    display:grid;
    /*grid-gap:5px;*/
    grid-template-columns:
    "h h h h"
    "a a a a"
    "f f f f"
    ;
}
header{
    grid-area:"h";
}
article{
    grid-area:"a";
}
footer{
    grid-area:"f";
}
/*-------GRID VÉGE------*/
*{
    box-sizing:border-box;
}
main, header, article, footer{
    border:1px solid black;
}
footer{
    text-align:center;
}